cvxpy
h5py
matplotlib
nlopt==2.6.1
numpy
pandas
pyDOE==0.3.8
scikit-learn
scipy
opencv-python
protobuf
pymc3==3.7
PyOpenGL
tensorboard
tensorboardX
tensorflow
tensorflow-estimator
Theano
torch
torchvision
tornado
gpytorch==1.5.0
pathos
parfor
gdown
